/***************************************************************************************/
/* css for main outline of the site and other css rules that should apply to all pages */
/***************************************************************************************/
html {
	height: 100%;											/* added so background gradient would scale page */
	overflow-y: scroll;										/* so that there is always a scroll bar even if page not long enough for scrolling. useful so that nav bar is alway in exact same spot */
}

body {
	background-color: #FFFFFF;								/* fallback color if gradients don't load */
	
	/* safari 5.1, chrome 10+ */
	background-image: -webkit-linear-gradient(#FFFFFF,#E3E3E3);

	/* firefox 3.6 */
	background-image: -moz-linear-gradient(#FFFFFF,#E3E3E3);

	/* safari 4+, chrome 1+ */
	background-image: -webkit-gradient(linear, 0% 0%,0% 100%, from(#FFFFFF), to(#E3E3E3));

	/* opera 11.10+ */
	background-image: -o-linear-gradient(#FFFFFF,#E3E3E3);

	width: 640px;											/* must specify width for margin centering to work */
	height: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	margin: 10px auto 10px auto;							/* center everything on page */
}

.bodyHeaders {												/* specify how to show each title of projects */
	opacity: 0.65;
	font-family: Arial, Verdana, sans-serif;
	text-shadow: 2px 2px 2px #000000;						
	font-weight: lighter;
	height: 15px;											/* height is used to move github and download links closer to project title */
}

.bodyHeaders p {											/* how to display the second word of project title that is wrapped in p tags */
	display: inline;										/* don't line break since p is block element*/
	color: #99FF66;
	font-weight: bold;
}

.bodyHeaderLinks {
	padding: 0;												/* don't indent the unordered list of links for github and download of each project */
}

.bodyHeaderLinks a {
	text-decoration: none;									/* remove underline and make github and download links black */
	color: #000000;
}

.bodyHeaderLinks a:hover {									/* if you hover over a link make it underlined */
	text-decoration: underline;
}

.bodyHeaderLinks li {
	display: inline;										/* show the links side by side instead of on top of each other like a normal list element */
}

p.rootParagraph {
	overflow: auto;											/* overflow and width at 100% are needed if the containing element of a float element only has float elements. it causes each float element to be on separate lines */
	width: 100%;
}

p.rootParagraph:first-letter {
	font-size: 200%;										/* any time we have a paragraph in the rootParagraph class, let's make the first letter unique */
	color: #99FF66;
	opacity: 0.65;
	text-shadow: 2px 2px 2px #000000;
}

#mainNavBar {
	background-color: black;
	height: 30px;
	width: 600px;
	opacity: 0.65;
	padding-top: 11px;										/* center the links vertically in the nav bar */
	text-align: center;										/* center the text horizontally */
	box-shadow: 0px 0px 10px #000000;						/* display a shadow for the box */
	border-radius: 3px;										/* round the corners of box by 3px */
}

#mainNavBar a {
	color: #CCCCCC;
	font-family: Arial, Verdana, sans-serif;				
	text-decoration: none;									/* don't display underline on links */
}

#mainNavBar a:hover, #mainNavBar a.on{						/* how to show link if you hover or if you are on page */
	color: #99FF66;
}

#mainNavBar a:active {
	color: #CCCCCC;											/* make the link grey when the user actually clicks it to provide feedback to the user */
}

#mainNavBar li {
	display: inline;										/* display the different list items in a row for the navigation bar */
	margin-right: 40px;										/* space the different list items 40px apart */
}

#banner {
	height: 30px;
	text-align: center;										/* align the banner in the center */
	opacity: 0.65;
	font-family: Arial, Verdana, sans-serif;
	text-shadow: 2px 2px 2px #000000;						
	font-weight: lighter;									/* make the normal banner text skinnier */
}

#banner p {													/* control the word "adam" wrapped in p tags in the banner */
	display: inline;										/* don't line break since p is block element*/
	color: #99FF66;
	font-weight: bold;
}

footer {													/* copyright 2013 robertadamjohns */
	text-align: center;
	opacity: 0.65;
	margin-top: 50px;										/* move the footer down 50px from bottom of page */
}
/*****************************************************/
/* end of css that applies to multiple pages of site */
/*****************************************************/





/****************************/
/* css specific to home page*/
/****************************/
#homeImage{
	width: 640px;											/* specify width and height of box to be exactly size of picture, so we can put shadow around picture */
	height: 480px;
	box-shadow: 0px 0px 10px #000000;
}
/***********************************/
/* end of css specific to home page*/
/***********************************/





/******************************/
/* css specific to about page */
/******************************/
#aboutImage {
	float: left;											/* float left so text will be on right of image starting at top of image */
	margin: 2px 10px 2px 2px;								/* separate text from image 10px horizontally. also add 2px margin on other sides so that shadow will show */
	width: 149px;											/* add width and height to be exactly size of picture so we can put shadow around picture */
	height: 144px;
	box-shadow: 0px 0px 10px #000000;
}

.about p {
	text-indent: 20px;										/* indent all paragraphs on the about page */
}
/*************************************/
/* end of css specific to about page */
/*************************************/





/*********************************/
/* css specific to projects page */
/*********************************/
#rapidImage {
	float: left;											/* float left so that text on the right will start at top of image */
	margin: 2px 10px 2px 2px;								/* separate text from image 10px horizontally. also add 2px margin on other sides so that shadow will show */
	width: 202px;
	height: 303px;
	box-shadow: 0px 0px 10px #000000;
}

#reminderImage {
	float: left;											/* float left so that text on the right will start at top of image */
	margin: 2px 10px 2px 2px;								/* separate text from image 10px horizontally. also add 2px margin on other sides so that shadow will show */
	width: 308px;
	height: 303px;
	box-shadow: 0px 0px 10px #000000;
}

#bookmarkImage {
	float: left;											/* float left so that text on the right will start at top of image */
	margin: 2px 10px 2px 2px;								/* separate text from image 10px horizontally. also add 2px margin on other sides so that shadow will show */
	width: 308px;
	height: 213px;
	box-shadow: 0px 0px 10px #000000;
}
/****************************************/
/* end of css specific to projects page */
/****************************************/





/**************************************/
/* css specific page for contact page */
/**************************************/
a.socialMediaButton {
	height: 48px;
	width: 48px;
	background-image: url("images/socialMediaSprite.png");
	text-indent: -9999px;
	display: inline-block;
}

a#facebookButton {
	background-position: 0px 0px;
}

a#facebookButton:hover {
	background-position: 0px -49px;
}

a#twitterButton {
	background-position: -49px 0px;
}
/***************************************/
/* end of css specific to contact page */
/***************************************/